<!DOCTYPE html>
<title>{% block title %}Wave{% endblock %}</title>
{% block head %}

<!-- main JS libs -->
<link rel="stylesheet" type="text/css" href="static/style.css">
{% endblock %}
</head>
<div class="col-md-12">
    <div id="topmenu">
              <ul class="dropdown clearfix boxed boxed-blue">
                  <li class="link-more first"><a href="#" hidefocus="true" style="outline: none;"><i></i></a></li>
                  <li class="menu-level-0"><a href="/" hidefocus="true" style="outline: none;"><span>Home</span></a></li>
                  <li class="menu-level-0"><a href="/waves" hidefocus="true" style="outline: none;"><span>Wave</span></a></li>
                  <li class="menu-level-0 parent"><a href="/users" hidefocus="true" style="outline: none;"><span>Co-Workers</span></a>
                  </li>
                  <li class="menu-level-0 parent"><a href="#" hidefocus="true" style="outline: none;"><span>Trending</span></a>
                  </li>
                  <li class="menu-search last">
                      <form id="searchForm" class="menu-search-form" method="post">
                          <input type="text" name="search" value="" class="menu-search-field" placeholder="Search the website" hidefocus="true" style="outline: none;">
                          <input type="submit" value="" class="btn menu-search-submit" name="search-send" hidefocus="true" style="outline: none; opacity: 1;">
                      </form>
                  </li>
              </ul>
          </div>
</div>

<!-- content -->
<div class="col-md-12" role="main">
  <div class="col-md-9">{% block content %}{% endblock %}</div>
  <div class="col-md-3">
      <ul class="chat-thread">
        {% if chat.topic %}
        <li class="topic"> <a href="{{chat.topic.link}}"> <b>{{chat.topic.type}}:</b> {{chat.topic.title}}</a></li>
        {% endif %}
        {% for msg in chat.messages %}
          {% if msg.user == "tobi" %}
            <li class="you">
          {%else%}
            <li class="they">
          {%endif%}
            {{msg.message}}</li>
        {% endfor %}
      </ul>
      <form class="chat-window">
        <input class="chat-window-message" name="chat-window-message" type="chat" autocomplete="off" autofocus />
      </form>
      <script type="text/javascript" src="static/js/dummychat.js"></script>
  </div>
</div>

<script src="components/emojify.js/emojify.min.js"></script>
<script>
    emojify.setConfig({
        emojify_tag_type : 'div',           // Only run emojify.js on this element
        only_crawl_id    : null,            // Use to restrict where emojify.js applies
        img_dir          : 'components/emojify.js/images/emoji',  // Directory for emoji images
        ignored_tags     : {                // Ignore the following tags
            'SCRIPT'  : 1,
            'TEXTAREA': 1,
            'A'       : 1,
            'PRE'     : 1,
            'CODE'    : 1
        }
    });
    emojify.run();
</script>