{% extends 'base.html' %}

{% block title %}{{title}} - Waves{% endblock %}

{% block content %}
{% for wave in waves %}
    <div class="col-sm-6">
        <div class="post-item post-quote boxed">
            <span class="post-label"></span>
            <div class="inner">
                <div class="post-title"><h2><a href="#" hidefocus="true" style="outline: none;">{{wave.title}}</a></h2></div>
                <div class="post-desc">
                    {% if wave.ideas %}
                        <ul> {% for idea in wave.ideas %} <li>{{idea}}</li> {%endfor%}</ul>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            <ul class="post-meta-links clearfix">
                <li class="post-meta post-author first"><a href="#" hidefocus="true" style="outline: none;"><span>{{wave.user}}</span></a></li>
                <li class="post-meta post-date icon2 last"><a href="#" hidefocus="true" style="outline: none;"><span>Jul 15, 2013</span></a></li>
            </ul>
        </div>
    </div>
{% endfor %}
{% endblock %}